.main-Signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 100px 0;
}
.main-Signup-container h1{
    font-weight: 600;
    letter-spacing: 4px;
}
.Signup-container{
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 17px 0px #B5B5B5;
}
.Signup-container a{
    text-decoration: none;
    color: gray;
}
/* Signup btn  */
.Signup-btn{
    font-weight: 600;
    box-shadow: 0px 0px 17px 0px #c221214b;

    background-color: white;
    color: #db327b;
}
.Signup-btn:hover{
    background-color: #db327b;
    color: white;
}
.Signup-btn:active{
    background-color: #e35f98;
    color: rgb(255, 255, 255);
    border-radius: 10px;

}
/* Signup btn  */
.Signup-container form input{
    width: 100%;
    border: none;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 10px 0;
}
.or{
    text-align: center;
    margin: 10px;
}
.Signup-btn{
    font-weight: 600;
    border: 2px solid #db327b;
    color: #db327b;
}
.google-btn{
    width: 100%;
    box-shadow: 0px 0px 17px 0px #B5B5B5;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.google-btn:hover{
    background-color: #1B78F4;
    color: white;
}
.google-btn:active{
    background-color: #5998eb;
    color: rgb(0, 0, 0);
    border-radius: 10px;

}

.google-btn p{
    text-align: center;
    margin: 0;
    padding: 13px;
    font-weight: 600;
}
.terms{
    margin-top: 20px;
    margin-bottom: 0;
}