@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,800&display=swap');
/* fonts  */
*{
  font-family: 'Poppins', sans-serif;
}

/* Header styles  */
.header1{
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  font-size: 50px;
}
.sub-header{
  font-family: 'Koulen', cursive;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}
.color{
  color: #db327b;
}
a{
  text-decoration: none;
  color: inherit;
}
/* button  */
